/* Style for individual dropdown items */
.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
    
/* Hover effect on dropdown items */
.dropdown-menu li:hover {
    background-color: #5b0101;
}
  