/* Style for individual dropdown items */
.dropdown-menu li {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
    
/* Hover effect on dropdown items */
.dropdown-menu li:hover {
  background-color: #E4AE39;
}
  