.navbar {
    display: flex;
    align-items: center;
    background-color: #171b29;
    color: white;
    padding: 10px 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #121521;
    color: white;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    display: none;
    border: 1.5px black solid;
  }
  
  .nav-links li:hover .dropdown-menu {
    display: block;
  }
  