.navbar {
  display: flex;
  align-items: center;
  background-color: #171b29;
  color: white;
  padding: 1rem 2rem;
}

.home-link {
  text-decoration: none;
  color: white;
}
  
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
  
.dropdown-menu {
  position: absolute;
  background-color: #121521;
  list-style: none;
  padding: .75rem;
  display: none;
  border: 0.125rem black solid;
}
  
.nav-links li:hover .dropdown-menu {
  display: block;
}