/* Style for each skin card */
.skin-card {
  background-color: #171b29; /* Prussian Blue background */
  border: 0.125rem solid #FFFFFF;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.5rem; 
  width: 20rem; /* Fixed width for each skin card */
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1.5rem; 
}

/* Hover effect for skin cards */
.skin-card:hover {
  transform: translateY(-0.5rem); 
}

/* Style for the image inside each skin card */
.skin-card img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

/* Heading for the skin name */
.skin-card h2 {
  font-size: 1.5rem;
  margin: 0;
}

/* Style for the skin info text (rarity, collection, etc.) */
.skin-card p {
  font-size: 1rem;
}

/* Style for the rarity tag for the skin */
.rarity-tag {
  color: #000000;
  padding: 0.25rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.case-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.case-img img {
  width: 2rem;  /* Adjust the size of the image */
  height: 1.75rem;
  margin-right: 0.75rem; /* Space between the image and text */
  padding-bottom: 0.75rem;
}