/* App.css - Global styles for the app */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #21273b; /* Main background color of the app */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
